NODE_ENV=development

PORT=3000
HOST=0.0.0.0

LOG_LEVEL=info

JWKS_FILE=keys/jwks.json
JWKS_MAX_ACTIVE=3
JWKS_ALG=RS256

# JWT settings
JWT_ISSUER=dimp-auth
JWT_ACCESS_TTL_SECONDS=900
JWT_REFRESH_TTL_SECONDS=2592000

DISCORD_CLIENT_ID=
DISCORD_OAUTH_TOKEN=
DISCORD_OAUTH_REDIRECT_URI=
DISCORD_OAUTH_REDIRECT_SUCCESS_URI=

DATABASE_URL=
DB_MAX_CONNECTIONS=10
DB_IDLE_TIMEOUT=30
DB_CONNECT_TIMEOUT=30
