NODE_ENV=

PORT=
HOST=

LOG_LEVEL=

JWKS_FILE=keys/jwks.json
JWKS_MAX_ACTIVE=
JWKS_ALG=

DISCORD_CLIENT_ID=
DISCORD_OAUTH_TOKEN=
DISCORD_OAUTH_REDIRECT_URI=

DATABASE_URL=
DB_MAX_CONNECTIONS=10
DB_IDLE_TIMEOUT=30
DB_CONNECT_TIMEOUT=30
